* {
    font-family: 'Patua One', cursive;
    padding: 0px;
    margin: 0px;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    padding: 7px;
}

#game-container{
    background-color: #ffffff;
    padding: 15px;
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 25%;
}

#title{
    position: relative;
    left: 25%;
}
